*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}
/* navbar design */
.navbar {
    background-color: rgb(41, 41, 41);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    top: 0;
    /* 3d--> makes sure the menu bar is above the content even on diff screens */
    z-index: 999;   
}
/* navbar container */
.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 50;
    z-index:1;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;

}

/* navbar picture */
#navbar_name {
    background-color: rgb(193, 193, 193);
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(205, 208, 208) 0% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-backround-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;

}

.narbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 40px;
}

.navbar_link{
    color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
}
.navbar_link:hover{
    color: rgb(2, 20, 39);
    transition: all 0.3s ease;
}

.body-Title{
    padding: 15px;
   background-color: rgb(255, 255, 255);
    font-size: 1rem;
}

.column{
    img{
        display: block;
        height: 100px;
        width:100px;
        float: right;
    }
}
.S_column{
     /* background: url('sky.png'); */
    background-position:center;
    height: fit-content;
    width: fit-content;
    tr:hover {
        background-color: #D6EEEE;
     }
    padding:100px

    
}
.S_column2{
    img{
        display: block;
        height: 300px;
        width:300px;
        
    }
    tr:hover {
        background-color: #D6EEEE;
     }
    padding: 100px;
}

/* picture in the background */

.header{
    height:170px; 
    width: 100%;
    background: url('sunset-moving-sky.gif');
    background-position: center;
    background-size:cover;
    color: whitesmoke;
    font-size: 1.7rem;
    padding: 30px;
}
.body-section{
    background: url('sky.png'); 
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .S_column {
      width: 100%;
    }
    .S_column2{
        width: 100%;
    }
}
.At-home{
    background: url('pretty_Blue_sunset.jpeg');
    background-position: center;
    background-size: cover;
    display: grid;
    color: whitesmoke;
    align-items: center;
    height: 50
vh;

}
.home_schedule{
    align-items: center;
}